*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container
{
	width:100%;
	height: 100vh;
	background: #001660;
	display:flex;
	align-items:center;
	justify-content:center;
}

form
{
	background: white;
	display: flex;
	flex-direction:column;
	padding: 10px;
	width: 90%;
	max-width: 600px;
	border-radius: 7px;


}

form h3
{
	font-size: 30px;
	margin-bottom: 15px;
}
form input, form select, form textarea 
{
	border: 1px solid black;
	margin: 10px 0;
	padding: 10px;
	outline: none;
	background: #f5f5f5;
	font-size: 18px;

}
form button
{
	padding: 10px;
	background: green;
	color: white;
	font-size: 20px;
	border: 0;
	outline: none;
	cursor: pointer;
	border-radius: 10px;
	margin-bottom: 10px;
}

form .reset
{

	background: red;
}